

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }
  
body {
    background-color: #a7f0f0; /* Light Cyan background */
    padding-top: 50px; /* Adjust as needed */
    text-align: center; /* Center align all content */
    
}
h5{
    margin:8px;
}
.admin-card {
    border-radius: 15px; /* Rounded corners on top */
    background-color: #ffffff; /* White background for card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 70px;
}
.sub-card {
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    margin: 15px;
    padding: 20px;
    border-radius: 2px solid #1db4a8;
    background-color: #bdf0f0;
}
.sub-card:hover {
    transform: translateY(-10px);
}
.btn-primary {
    background-color: #1db4a8;
    color: #ffffff;
    border: 2px solid #1db4a8;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-primary:hover {
    background-color: #ffffff;
    color: #1db4a8;
    border: 1px solid #1db4a8;
}
.card-img-top {
    max-width: 100%;
    height: auto;
}