/* static/css/styles.css */

/* Styling for the card container */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }
  
body {
    background-color: #a7f0f0; /* Light Cyan background */
    padding-top: 12vh; /* Adjust as needed */
    text-align: center; /* Center align all content */
    color:#1db4a8;
    
    
}

.card-container {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 20px;
}

/* Styling for form inputs and labels */
.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

/* Styling for the Download PDF button */
.download-btn {
    background-color: #1db4a8;
    color: white;
    border-color: #1db4a8;
    display: block;
    margin: 0 auto;
}

.download-btn:hover {
    background-color: white;
    color: #1db4a8;
}

.btn {
    background-color: #1db4a8;
    color: white;
    border-color: #1db4a8;
   
}

.btn:hover {
    background-color: white;
    color: #1db4a8;
    border-color: #1db4a8;
}
